@using ClientDependency.Core.Mvc
@using Escc.FindAddress.Mvc
@model Escc.FindAddress.Mvc.Test.TestModel
<!DOCTYPE html>
<html>
<head>
    <title>Test page</title>
</head>
<body>
@using (Html.BeginForm("SubmitTest", "Test", FormMethod.Post))
{
    @Html.ValidationSummary("", new { @class = "validationSummary" })

        @Html.Partial("_FindAddress", Model.Address1, new ViewDataDictionary()
   {
       TemplateInfo = new FindAddressConfiguration()
       {
           HtmlFieldPrefix = "Address1",
           Required = true,
           Label = "4. Address"
       }
   })

        @Html.Partial("_FindAddress", Model.Address2, new ViewDataDictionary()
    {
        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Address2" }
    })
    <input type="submit" value="Submit" />
}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    @Html.RenderJsHere()
</body>
</html>